.celllist .cell text {
    text-anchor: middle;
    pointer-events: none;
    dominant-baseline: central;
}

.celllist .cell rect {
    stroke: none;
    border-radius: 5px;
    fill: #13a2f5;
    opacity: .5;
    cursor: crosshair;
}

.celllist .cell.hovered  rect{
    opacity: 1;
}