/*HEATMAPS*/

.heatmap {
    cursor: crosshair;

}

.heatmap .cell.hovered {
    stroke: red;
    stroke-width: 2;
}

/* Heatmap Tooltip style */
.heatmap .hmTooltip {
    pointer-events: none;
}

.heatmap .hmTooltip rect {
    fill: black;
    fill-opacity: .5;
}

.heatmap .hmTooltip text {
    fill: white;
    font-weight: bold;
    font-size: 12pt;
    text-anchor: middle;
}

/* Heatmap GUI Panel styles */
.heatmap .guiPanel rect, circle {
    stroke: black;
    fill: #888888;
    opacity: .3;
}

/*.heatmap .guiPanel circle {*/
/*fill: darkgray;*/
/*stroke: none;*/
/*opacity: .7;*/
/*pointer-events: none;*/
/*}*/

.heatmap .guiPanel .selected {
    opacity: 1;
}

.heatmap .mapping-hide-button {
    font-family: 'FontAwesome', sans-serif;
    font-size: 15px;
    dominant-baseline: central;
    fill: #888888;
    opacity: .3
}
.heatmap .mapping-hide-button:hover {
    opacity: 1;
}
