/*HEATMAPS*/

.heatmap {
    cursor: crosshair;

}

.heatmap .cell.hovered {
    stroke: red;
    stroke-width: 2;
}


/* Heatmap Tooltip style */
.heatmap .tooltip {
    pointer-events: none;
}

.heatmap .tooltip rect {
    fill: black;
    fill-opacity: .5;
}

.heatmap .tooltip text {
    fill: white;
    font-weight: bold;
    font-size: 12pt;
    text-anchor: middle;
}


/* Heatmap GUI Panel styles */
.heatmap .gui-panel rect {
    stroke: black;
    fill: white;
    opacity: .3;
}

.heatmap .gui-panel circle {
    fill: darkgray;
    stroke: none;
    opacity: .7;
    pointer-events: none;
}

.heatmap .gui-panel .selected {
    opacity: 1;
}

