.wordsequence .word rect {
    fill: lightgray;
    stroke: none;
    opacity: .5;
    cursor: crosshair;
}

.wordsequence .word.hovered rect{
    stroke: #1399e4;
    stroke-width: 2;
}
.wordsequence .word.selected rect{
    stroke: #2d57b2;
    stroke-width: 3;
}

.wordsequence .word text {
    pointer-events: none;
    dominant-baseline: central;
}


.wordsequence .brush .selection {
    stroke:none;
}

.wordsequence .zeroWisker {
    stroke: gray;
    /*stroke-dasharray: 3,1;*/
}

.wordsequence .signatureLine{
    stroke: gray;
    fill:none;
    /*stroke-dasharray: 3,1;*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
